<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Istok+Web:700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">

<div id="superform">
<%= form_tag("/weather", method: :get) do  %>
 <%= label_tag 'City' %>
 <%= text_field_tag :city  %>
 <%= submit_tag "Go" %>
<% end %>
</div>

<container id="weather" data-city="<%= params[:city] %>">

	<% if @timenow.hour>17&&@timenow.hour<22 %>
	<h1 class="time">Good Evening</h1>
	<% elsif @timenow.hour>22&&@timenow.hour<6 %>
	<h1 class="time">Good Night</h1>
	<% elsif @timenow.hour>6&&@timenow.hour<22 %>
	<h1 class="time">Good Morning</h1 class="time">
	<% end %>
	<h1 class="time">Let´s check out the weather!</h1>


	<svg 
     class="grid">
	</svg>

	<div class="icons"><%= image_tag("icon-wind.png", size: "100", class: "icon") %>
										 <%= image_tag("icon-temp.png", size: "100", class: "icon") %>
										 <%= image_tag("icon-clouds.png", size: "100", class: "icon") %>

	</div>

<button class="timetravel" id="back" onclick="travelBack()" > Back </button>
<button class="timetravel" id="ahead" onclick="travelAhead()" > Ahead </button></container>





