<div id="superform">
	<%= form_tag("/weather", method: :get) do  %>
 		<%= label_tag 'City' %>
 		<%= text_field_tag :city  %>
 		<%= submit_tag "Go" %>
	<% end %>
</div>

<div id="h1">
	<h1 class="time">Let´s check out the weather!</h1>
</div>

<div id="time">Today</div>

<button class="timetravel1" id="back" onclick="travelBack()" > Back </button>
<button class="timetravel2" id="ahead" onclick="travelAhead()" > Ahead </button>
<container id="weather" data-city="<%= params[:city].present? ? params[:city] : "Barcelona" %>">
	
	<div id="row2">
		<div class="icons">
			<%= image_tag("icon-wind.png", size: "100", class: "icon1", title: "Wind") %>
			<%= image_tag("icon-temp.png", size: "100", class: "icon2", title: "Temperature")%>
			<%= image_tag("icon-clouds.png", size: "100", class: "icon3", title: "Clouds") %>
		</div>

		<div id="svg">
			<svg class="grid">
			</svg>
		</div>


	</div>

</container>



	<?xml version="1.0"?><svg width="650" height="500" id="arrow" xmlns="http://www.w3.org/2000/svg" version="1.1">
 <title>Blue Arrow</title>

 <metadata id="arrow">image/svg+xml</metadata>
 <g>
  <title>Layer 1</title>
  <g transform="rotate(340 304.447 246.463) scale(.5) translate(750,270)" id="arrow">
   <path d="m304.887848,37.391838c0.941895,0.184605 1.454712,2.764591 1.257996,7.115326c-0.197754,4.349884 -1.145142,10.472198 -3.272583,17.442177c-1.746765,5.717453 -4.299622,11.984825 -7.705566,18.193832c-2.928589,5.340279 -6.20166,10.122665 -9.485443,14.177307c-3.28476,4.054619 -6.576324,7.384529 -9.524261,9.934708c-2.948853,2.550194 -5.550232,4.32692 -7.501038,5.333389c-1.950867,1.007431 -3.247253,1.25296 -3.6828,0.706345c-0.435486,-0.54567 0.024719,-1.8302 1.145813,-3.71434c1.120117,-1.885262 2.897278,-4.377373 5.058228,-7.416061c2.16095,-3.038651 4.704742,-6.627098 7.372742,-10.697556c2.667969,-4.069374 5.457153,-8.621872 8.15448,-13.539406c3.137024,-5.718765 5.801697,-11.302391 8.010315,-16.3591c2.696899,-6.172348 4.737122,-11.553841 6.361633,-15.351555c1.624512,-3.797581 2.86853,-6.009674 3.810486,-5.825066z" fill="#007fff" id="path3009"/>
   <path d="m305.980927,39.816196c0.925171,-0.149258 2.108337,1.975918 3.639221,5.610813c1.530945,3.633743 3.44397,8.778351 5.987427,14.68737c2.083069,4.840988 4.604248,10.192528 7.585754,15.68441c2.56366,4.721542 5.222961,9.101181 7.771179,13.021851c2.548157,3.920639 4.981323,7.382133 7.050293,10.313568c2.067932,2.931496 3.768738,5.335693 4.835815,7.14846c1.067993,1.811768 1.498413,3.037781 1.063477,3.543137c-0.435852,0.505142 -1.700317,0.238297 -3.594421,-0.766739c-1.894043,-1.004959 -4.413025,-2.753891 -7.260071,-5.244476c-2.846985,-2.490646 -6.016296,-5.727737 -9.168518,-9.649986c-3.152344,-3.923141 -6.280762,-8.532356 -9.064209,-13.660606c-3.237122,-5.962769 -5.638184,-11.957909 -7.258606,-17.41127c-1.973511,-6.648026 -2.805054,-12.462921 -2.93045,-16.582436c-0.12442,-4.118858 0.418121,-6.544868 1.343109,-6.694096z" fill="#007fff" id="path3009-4"/>
   <path d="m271.021393,110.351074c-0.457703,-1.0923 0.801514,-3.18795 3.568726,-5.617882c2.766479,-2.427643 7.066162,-5.148903 12.596008,-7.154991c4.536682,-1.64357 9.896729,-2.781708 15.737823,-2.996552c5.022797,-0.185593 9.915009,0.325912 14.370605,1.28849c4.456146,0.963501 8.476227,2.373398 11.812775,3.897041c3.337646,1.525421 5.993866,3.157021 7.787231,4.577904c1.7948,1.419579 2.728821,2.620941 2.660278,3.404915c-0.068542,0.783966 -1.128479,1.082977 -2.954712,1.056671c-1.825256,-0.024506 -4.417847,-0.365021 -7.575439,-0.773514c-3.157349,-0.410019 -6.881897,-0.884499 -10.974121,-1.19738c-4.091736,-0.311958 -8.551086,-0.458336 -13.176819,-0.288002c-5.379974,0.196808 -10.391052,0.804298 -14.805908,1.568008c-5.389404,0.930618 -9.899597,2.065506 -13.19397,2.673828c-3.295044,0.609009 -5.393982,0.653214 -5.852478,-0.438538z" fill="#007fff" id="svg_3"/>
   <path d="m305.771149,99.647964c-4.629089,3.326134 -6.943665,13.304535 -8.100952,134.154083c-1.157227,120.849564 -1.735901,186.263565 2.314575,210.655228c4.050507,24.391602 4.050507,2.217377 4.918396,-6.652283c0.867981,-8.86969 5.497131,-341.483162 0.867981,-338.157028z" stroke-width="null" stroke-linejoin="null" stroke-linecap="null" stroke-dasharray="null" fill="#007fff" id="svg_4"/>
   <text x="100" y="545" font-size="50" fill="white">Drag the circles<text/>
  </g>
 </g>
</svg>





