<!DOCTYPE html>
<html>
<head>
  <title>Kidsvis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
<li><%= link_to "My data!", new_kid_path %></li>
<li><%= link_to "Weather", weather_path %></li>
</ul>


<%= yield %>

</body>
</html>
