<!DOCTYPE html>
<html>
<head>
  <title>Kidsvis</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if current_page?(controller: 'weather', action: 'index')|| current_page?(controller: 'kids', action: 'new')%>
<nav>
	<ul>
	<li><span id="logo"> Wetter </span> </li>
	<li><%= link_to "My data", new_kid_path %></li>
	<li><%= link_to "Weather", weather_path %></li>
	</ul>
</nav>
<% end %>


<%= yield %>

</body>
</html>
